<html>
<head>
<title>Rock, Paper, Scissors</title>
      <link rel ="stylesheet" type="text/css" href="/style.css" />
       <img src="/head.jpg" />
</head>
  <body>
<div id=PRC>
      <div id=CAB>
          <br/>
</div>

       <div id=IZQ>
<h1 align="center"> MENU </h1>
<ol>
<li><a href= "/"> Otra Partida</li>
<ol>
<br/>
</div>
<div id=DCH>
          
         <%= yield %>
</div>
</div>
    </body>
</html>
