<table align="center" width="600" >
<tr>
<td colspan=3><h1>Play rock, paper, scissors</h1></td>
<tr>
  <td>
    <a href="/throw/rock"><img src="/images/rock.jpg" width="180" height="200" /></a>
  </td>
  <td>
    <a href="/throw/paper"><img src="/images/paper.jpg" width="180" height="200" /></a>
  </td>
  <td>
    <a href="/throw/scissors"><img src="/images/scissors.jpg" width="180" height="200" /></a>
  </td>
</tr>
</table>
