	<form>
		<input type="radio" name="player_throw" value="rock" /> Rock <br> 
		<input type="radio" name="player_throw" value="paper" /> Paper <br> 
		<input type="radio" name="player_throw" value="scissors" /> Scissors <br>
	</form>
