<html>
  <head>       
      <link rel ="stylesheet" type="text/css" href="/style.css" />
       <img src="/head.gif" />
      <title> Rock, Paper and Scissors </title>
 </head>
  <body>
	<div id=PRC>
      <div id=CAB>
          <p> LEO <p>
	   </div>

       <div id=IZQ>
		   <h1> Izq	</h1>
		 </div>
		 <div id=DCH>
         <h1> Dch </h1> 
         <%=  yield %>
		 </div>
	</div>
    </body>
</html>
