!!!
%html
   %head
      %title Rock Paper and Scissor
      %link(rel="stylesheet" href="/css/style.css")
      %link(rel= "shortcut icon"  href= "/images/favicon.ico")
   %body
      %PRC
      %CAB
         %br
      %LEFT
         %h1 MENU
         %ol
         %a(href="/")
            %li Otra Partida
         %a(href="/")
            %li Otros juegos
         %a(href="/")
            %li Manual del juego
      %RIGHT
         =yield
      %footer
         %h3 Aplication RPS@2012 By Hamilton Steven Cubillos
