<body>
    <div id="snippet">
      <div id="content">
        <%= @text %>
      </div>
    </div>
     <div id=footer>
       <h2> Sistemas y Tecnologías Web 2012/2013 <h2>
     </div>    
</body>
</html>
