body {
    background: #0000FF;
    color: #00C;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%
    background-position:center; ;

}
#PRC{
   width: 1024px;
}

#CAB{
  
   width: 100%;
background: #FFFF00;
   height: 15px;
}


#IZQ{
   margin-top: 1em;
float:left;
   width: 28%;
background: #f0f0f0;
}
#DCH{
   margin-left:30%;
margin-top: 1em;
   width: 70%;
background: #FDFDF0;
}
