%table{:align => "center", :width => "600"}
  %tr
    %td{:colspan => "3"}
      %h1 Play rock, paper, scissors
  %tr
    %td
      %a{:href => "/throw/rock"}
        %img{:height => "200", :src => "/images/rock.jpg", :width => "180"}/
    %td
      %a{:href => "/throw/paper"}
        %img{:height => "200", :src => "/images/paper.jpg", :width => "180"}/
    %td
      %a{:href => "/throw/scissors"}
        %img{:height => "200", :src => "/images/scissors.jpg", :width => "180"}/
