%h1 Play rock, paper, scissors
 %a{:href="/throw/rock"><img src="/images/rock.jpg" width="180" height="200"}
 %a{:href="/throw/paper"><img src="/images/paper.jpg" width="180" height="200"}
 %a{:href="/throw/scissors"><img src="/images/scissors.jpg" width="180" height="200}
