!!!
%html
%head
%title>Rock, Paper, Scissors
      %link rel ="stylesheet" type="text/css" href="/style.css"
      %link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"
      %img src="/head.gif"

  %body
    #PRC
        #CAB                    
