%h2 PC: @computer_throw
  %a{:href="/"} 
    %img{:src=@images_computer}
%h2 You: @player_throw 
  %a{:href="/"}
    %img{:src= @images_player}
%h2 
   %a{:href="/"}
     %img{:src= @images}
%h2 @answer
