<html>
<head>
<title>Rock, Paper, Scissors</title>
      <link rel ="stylesheet" type="text/css" href="/style.css" />
      <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" /> 
       <img src="/head.gif" />
</head>
  <body>
<div id=PRC>
      <div id=CAB>
          <br/>
</div>

       <div id=IZQ>
<h1 align="center"> Juego RPS ERB, sin marcador </h1>
<br/>
</div>
<div id=DCH>
          
         <%= yield %>
</div>
</div>
    </body>
</html>
