body {
    background: #FFCC00;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    background-position: center;

}
#PRC{
   width: 1024px;
   height: 640px;

}

#CAB{
  
   width: 100%;
   background: #FFFF00;
   height: 15px;
}


#IZQ{
   margin-top: 1em;
   float:left;
   width: 28%;
   height: 620px;
   background: #f0f0f0;
}
#DCH{
   margin-left:29%;
   margin-top: 1em;
   width: 70%;
   height: 620px;

   background: #FDFDF0;
}
#footer{

    width: 1024px;
    height: 30px;
    float:center;
    background: #AAAAFF;
}
